.list {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}