.tools_container {
  width: 450px;
  min-width: 250px;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333333;
  box-shadow: 2px 5px 5px #0000004d;
  padding: 0;
  margin: 0;
}

.header_wrapper {
  height: 80px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tabs_wrapper {
  width: 100%;
  height: calc(100% - 80px);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters_button {
  background-color: #ffffff00;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.filters_svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.list {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}