.tools_container {
  width: 450px;
  min-width: 250px;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333333;
  box-shadow: 2px 5px 5px #0000004d;
  padding: 0;
  margin: 0;
}

.header_wrapper {
  height: 80px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tabs_wrapper {
  background-color: #424242;
  width: 100%;
  height: calc(100% - 80px);
  position: absolute;
}

.tabLabels_wrapper {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;;
}