.submit_button {
  color: rgb(0, 0, 0);
  background-color: rgb(204, 204, 204);
  border: none;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
}

.submit_button:hover {
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.562);
}

.submit_button:active {
  background-color: rgb(155, 155, 155);
  box-shadow: none;
}