.input_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-bottom: 20px;
  width: 100%;
}

.text_input {
  width: calc(100% - 10px);
  border: none;
  height: 60px;
  font-size: .9rem;
  padding: 0 5px;
  margin-top: 10px;
  font-weight: 400;
  border: none;
}

.buttons_wrapper {
  height: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button_wrapper {
  width: 100px;
}

.button_wrapper:first-of-type {
  margin-right: 10px;
}