.fieldset {
  color: #fff;
  border: solid 1px rgb(175, 175, 175);
}

.fieldset:first-of-type {
  margin-bottom: 10px;
}

.radio_block {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.radio_wrapper:first-of-type {
  margin-right: 30px;
}

.houses_aprt {
  display: flex;
  flex-direction: row;
}

.houseSelect_wrapper {
  margin-right: 10px;
  min-width: 150px;
}