.input_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.text_input {
  min-height: 60px;
  max-height: 100px;
  min-width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
  font-weight: 400;
}