.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  max-width: 1200px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.form_wrapper {
  width: calc((100% - 10px) / 2);
}

.header_wrapper {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tabs_wrapper {
  height: 663px;
}

.fields {
  overflow-y: scroll;
  padding: 20px 10px;
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 0 0 0;
}

.button_wrapper {
  width: 150px;
  height: 35px;
  margin-left: 20px;
}

.sidepanel {
  width: calc((100% - 20px) / 2);
  height: 757px;
  position: relative;
}