.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  max-width: 1200px;
  height: 80vh;
}

.form_wrapper {
  height: 100%;
  width: calc((100% - 10px) / 2);
}

.header_wrapper {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  height: calc(100% - 50px);
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fields {
  overflow-y: scroll;
  padding: 20px 10px;
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 0 0 0;
}

.button_wrapper {
  width: 150px;
  margin-left: 20px;
}