.new_record_wrapper {
  position: absolute;
  right: -50px;
}

.new_record_button {
  color: rgb(0, 0, 0);
  border: none;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #b6df00;
  border-radius: 50%;
  box-shadow: 2px 5px 5px #0000008f;
}

.new_record_button:hover {
  box-shadow: 2px 5px 5px #0000008f;
  background-color: #e6fd7f;
}


.new_record_button:active {
  box-shadow: none;
  background-color: #aec741;
}