.newMdForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 80px);
  background-color: #424242;
  padding: 20px 10px;
}

.fields {
  height: 100%;
  overflow-y: scroll;
}

.fieldset {
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 15px 5px 0px;
  background-color: rgba(255, 255, 255, 0.178);
  padding-bottom: 10px;
}

.button_wrapper {
  height: 40px;
  width: 100%;
}