.input_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.text_input {
  height: 30px;
  font-size: .9rem;
  padding: 0 5px;
  margin: 10px 0 0 0;
  font-weight: 400;
  border: none;
}