.item_wrapper {
  background-color: rgba(106, 119, 82, 0.925);
  width: calc(100% - 20px);
  height: 80px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.item_wrapper:hover {
  background-color: rgba(131, 146, 104, 0.925);
}

.image {
  width: 80px;
  height: 80px;
  background-color: #839268ec;
}

.desc_wrapper {
  margin-left: 10px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 13px;
  width: calc(100% - 115px);
}

.nomenclature {
  font-weight: 700;
  font-size: 16px;
}

.scale {
  font-weight: 300;
  font-size: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 15px;
  margin-left: 10px;
}

.button_edit {
  width: 15px;
  height: 15px;
  border-radius: 0;
  border: solid 1px #a3be6fec;
  box-shadow: none;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
}