.input_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.input_date {
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #fff;
}