.newMdForm {
  padding: 10px;
  height: calc(100% - 100px);
  margin-bottom: 10px;
}

.form_fields {
  height: 100%;
  overflow-y: scroll;
}

.fieldset {
  color: rgb(255, 255, 255);
  font-family: 'Roboto Black';
  margin-bottom: 20px;
  padding: 15px 5px 0px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.label {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 5px;
}

.comboBox {
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  height: 30px;
  padding: 0 10px;
}

.plus_button {
  width: 30px;
  height: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(181, 212, 41);
  border: none;
  font-family: 'Roboto';
  font-weight: 700;
  margin-left: 10px;
}

.plus_button:hover {
  background-color: rgb(217, 247, 88);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.562);
}

.plus_button:active {
  background-color: rgb(141, 165, 32);
  box-shadow: none;
}

.text_input_with_button {
  width: calc(100% - 40px);
  height: 30px;
  padding: 0;
  height: 30px;
  font-size: 13px;
  font-weight: 700;
  border: none;
}