.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input_wrapper {
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  word-wrap: break-word;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 0%;
  min-width: 16px;
  height: 16px;

  border: 1px solid #d9f758;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.radio:checked {
  border: 8px solid #d9f758;
}