.field_pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field_wrapper {
  width: 100%;
}

.field_wrapper:first-of-type {
  margin-right: 10px;
}

.fieldset {
  color: #fff;
  border: solid 1px rgb(175, 175, 175);
}

.fieldset:first-of-type {
  margin-bottom: 10px;
}

.radio_block {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.radio_wrapper:first-of-type {
  margin-right: 30px;
}

.houses_aprt {
  display: flex;
  flex-direction: row;
}

.houseSelect_wrapper {
  margin-right: 10px;
  min-width: 150px;
}

.contacts_button_wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.contacts_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(181, 212, 41);
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_button:hover {
  background-color: rgb(217, 247, 88);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.562);
}

.contacts_button:active {
  background-color: rgb(141, 165, 32);
  box-shadow: none;
}